### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# delete ID columns not needed for analysis
del student_data["Student ID"]
del school_data["School ID"]

In [2]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete = school_data_complete.rename(columns={"size": "student_pop"})

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
#store the number of schools in a variable
number_of_schools = len(school_data["school_name"])

In [4]:
#store the number of students in a variable
number_of_students = len(student_data["student_name"])

In [5]:
#store district budget in a variable
total_budget = sum(school_data["budget"])

In [6]:
#store the average math score in a variable
average_math_score = student_data["math_score"].mean()

In [7]:
#store the average reading score in a variable
average_reading_score = student_data["reading_score"].mean()

In [8]:
# isolate the passing math scores, identify the number of students with passing math scores, then calculate the % of passing math scores
only_passing_math_students = student_data.loc[student_data["math_score"] >= 70, :]
number_of_passing_math_students = len(only_passing_math_students["student_name"])
percent_passing_math_students = number_of_passing_math_students / number_of_students

In [9]:
# isolate the passing reading scores, identify the number of students with passing reading scores, then calculate the % of passing reading scores
only_passing_reading_students = student_data.loc[student_data["reading_score"] >= 70, :]
number_of_passing_reading_students = len(only_passing_reading_students["student_name"])
percent_passing_reading_students = number_of_passing_reading_students / number_of_students

In [10]:
# isolate the passing students, identify the number of students with passing scores, then calculate the % of passing students
only_passing_students = student_data.loc[(student_data["math_score"] >= 70) & (student_data["reading_score"] >= 70), :]
number_of_passing_students = len(only_passing_students["student_name"])
percent_passing_students = number_of_passing_students / number_of_students

In [11]:
# format the data and store it as a dictionary, convert it to a data frame, then print the formatted results
District_Summary_dict = [{"District Metric": "Total Number of Schools:", "Value": number_of_schools},
                        {"District Metric": "Total Number of Students:", "Value": "{:,.0f}".format(number_of_students)},
                        {"District Metric": "Total Budget:", "Value": "${:,.0f}".format(total_budget)},
                        {"District Metric": "Average Math Score:", "Value": round(average_math_score, 2)},
                        {"District Metric": "Average Reading Score:", "Value": round(average_reading_score, 2)},
                        {"District Metric": "% of Passing Math Scores:", "Value": "{0:.2f}%".format(percent_passing_math_students * 100)},
                        {"District Metric": "% of Passing Reading Scores:", "Value": "{0:.2f}%".format(percent_passing_reading_students * 100)},
                        {"District Metric": "% of Passing Students:", "Value": "{0:.2f}%".format(percent_passing_students * 100)}
                        ]
District_Summary_df = pd.DataFrame(District_Summary_dict)
District_Summary_df

                District Metric        Value
0      Total Number of Schools:           15
1     Total Number of Students:       39,170
2                 Total Budget:  $24,649,428
3           Average Math Score:        78.99
4        Average Reading Score:        81.88
5     % of Passing Math Scores:       74.98%
6  % of Passing Reading Scores:       85.81%
7        % of Passing Students:       65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [12]:
# calculate the school budget per student, then add it as a column to the school_data dataframe
per_student_budget = school_data['budget'] / school_data['size']
school_data["per_student_budget"] = per_student_budget

In [13]:
#perform a grouby function to get the data frame to calculate the average math and reading score per school
HS_group = student_data.groupby(["school_name"])
HS_ave_df = HS_group.mean()

# rename column headers
HS_ave_score = HS_ave_df.rename(columns={"reading_score": "average_reading_score", "math_score": "average_math_score"})

#merge the new average scores into the school_data data frame
school_data_with_ave_scores = pd.merge(school_data, HS_ave_score, on=["school_name"])

In [14]:
# perform a value_count function by school of passing math students, then name the axis and index to make it a data frame for merging
HS_passing_math_student_counts = only_passing_math_students["school_name"].value_counts().rename_axis('school_name').reset_index(name='passing_math_student_count')

In [15]:
# merge the value_count into the school_data data frame
school_data_with_passing_counts = pd.merge(school_data_with_ave_scores, HS_passing_math_student_counts, on=["school_name"])

In [16]:
# perform a value_count function by school of passing reading students, then name the axis and index to make it a data frame for merging
HS_passing_reading_student_counts = only_passing_reading_students["school_name"].value_counts().rename_axis('school_name').reset_index(name='passing_reading_student_count')

In [17]:
# merge the value_count into the school_data data frame
school_data_with_passing_counts = pd.merge(school_data_with_passing_counts, HS_passing_reading_student_counts, on=["school_name"])

In [18]:
# perform a value_count function by school of passing students, then name the axis and index to make it a data frame for merging
HS_passing_student_counts = only_passing_students["school_name"].value_counts().rename_axis('school_name').reset_index(name='passing_student_count')

In [19]:
# merge the value_count into the school_data data frame
school_data_with_passing_counts = pd.merge(school_data_with_passing_counts, HS_passing_student_counts, on=["school_name"])

In [20]:
# rename certain columns for readability
school_data_with_passing_counts = school_data_with_passing_counts.rename(columns={"size": "total_students", "type": "school_type", "budget": "total_school_budget"})

In [21]:
# calculate the percent of students that passed the math test per school, then add it as a column to the school_data data frame
percent_math_pass = school_data_with_passing_counts['passing_math_student_count'] / school_data_with_passing_counts['total_students']
school_data_with_passing_counts["percent_math_pass"] = percent_math_pass

In [22]:
# calculate the percent of students that passed the reading test per school, then add it as a column to the school_data data frame
percent_reading_pass = school_data_with_passing_counts['passing_reading_student_count'] / school_data_with_passing_counts['total_students']
school_data_with_passing_counts["percent_reading_pass"] = percent_reading_pass

In [23]:
# calculate the percent of students that passed per school, then add it as a column to the school_data data frame
percent_student_pass = school_data_with_passing_counts['passing_student_count'] / school_data_with_passing_counts['total_students']
school_data_with_passing_counts["percent_student_pass"] = percent_student_pass

In [24]:
#reduce the school_data data frame to the columns specified in the .loc function
school_summary = school_data_with_passing_counts.loc[:, ["school_name", "school_type", "total_students", "total_school_budget",
                                                            "per_student_budget", "average_math_score", "average_reading_score", 
                                                            "percent_math_pass", "percent_reading_pass", "percent_student_pass"]]
school_summary

,school_name,school_type,total_students,total_school_budget,per_student_budget,average_math_score,average_reading_score,percent_math_pass,percent_reading_pass,percent_student_pass
0,Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
1,Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
2,Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
3,Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
4,Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
5,Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
6,Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
7,Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
8,Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
9,Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
10,Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333
11,Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
12,Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
13,Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
14,Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480

In [25]:
# format the data frame for readability
school_summary_df = school_summary.shift()[1:]
school_summary_df["total_students"] = school_summary_df["total_students"].astype(float).map("{:,.0f}".format)
school_summary_df["total_school_budget"] = school_summary_df["total_school_budget"].astype(float).map("${:,.0f}".format)
school_summary_df["per_student_budget"] = school_summary_df["per_student_budget"].astype(float).map("${:,.0f}".format)
school_summary_df["average_math_score"] = round(school_summary_df["average_math_score"], 2)
school_summary_df["average_reading_score"] = round(school_summary_df["average_reading_score"], 2)
school_summary_df["percent_math_pass"] = (school_summary_df["percent_math_pass"] * 100).astype(float).map("{:,.2f}%".format)
school_summary_df["percent_reading_pass"] = (school_summary_df["percent_reading_pass"] * 100).astype(float).map("{:,.2f}%".format)
school_summary_df["percent_student_pass"] = (school_summary_df["percent_student_pass"] * 100).astype(float).map("{:,.2f}%".format)
school_summary_df.set_index("school_name")

,school_type,total_students,total_school_budget,per_student_budget,average_math_score,average_reading_score,percent_math_pass,percent_reading_pass,percent_student_pass
school_name,,,,,,,,,
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.96,93.33%,96.61%,90.33%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [26]:
# sorting the school_summary data frame from best to worst for passing students
school_summary_top = school_summary_df.sort_values("percent_student_pass", ascending=False)

In [27]:
# reset index starting from 1 (instead of 0) and displaying the top 5 schools with all their data
school_summary_top = school_summary_top.reset_index(drop=True)
school_summary_top = school_summary_top.shift()[1:]
top_5_schools = school_summary_top.head(5)
top_5_schools

,school_name,school_type,total_students,total_school_budget,per_student_budget,average_math_score,average_reading_score,percent_math_pass,percent_reading_pass,percent_student_pass
1,Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
2,Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
3,Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
4,Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
5,Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.96,93.33%,96.61%,90.33%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [28]:
# sorting the school_summary data frame from worst to best for passing students
school_summary_bottom = school_summary_df.sort_values("percent_student_pass")

In [29]:
# reset index starting from 1 (instead of 0) and displaying the bottom 5 schools with all their data
school_summary_bottom = school_summary_bottom.reset_index(drop=True)
school_summary_bottom = school_summary_bottom.shift()[1:]
bottom_5_schools = school_summary_bottom.head(5)
bottom_5_schools

,school_name,school_type,total_students,total_school_budget,per_student_budget,average_math_score,average_reading_score,percent_math_pass,percent_reading_pass,percent_student_pass
1,Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
2,Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
3,Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
4,Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
5,Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [30]:
# locate the 9th graders in the student_data data frame, groupby school, then calculate the rounded average math score and name the columns
ninth_grade_students = student_data.loc[student_data["grade"] == "9th", :]
ninth_grade_students_group = ninth_grade_students.groupby(["school_name"])
ave_ninth_grade_math_score = round(ninth_grade_students_group["math_score"].mean().rename_axis('school_name').reset_index(name='ave_ninth_grade_math_score'), 2)

In [31]:
# locate the 10th graders in the student_data data frame, groupby school, then calculate the rounded average math score and name the columns, then merge with the 9th grade data frame
tenth_grade_students = student_data.loc[student_data["grade"] == "10th", :]
tenth_grade_students_group = tenth_grade_students.groupby(["school_name"])
ave_tenth_grade_math_score = round(tenth_grade_students_group["math_score"].mean().rename_axis('school_name').reset_index(name='ave_tenth_grade_math_score'), 2)
ave_HS_grade_math_score = pd.merge(ave_ninth_grade_math_score, ave_tenth_grade_math_score, on=["school_name"])

In [32]:
# locate the 11th graders in the student_data data frame, groupby school, then calculate the rounded average math score and name the columns, then merge with the math score data frame
eleventh_grade_students = student_data.loc[student_data["grade"] == "11th", :]
eleventh_grade_students_group = eleventh_grade_students.groupby(["school_name"])
ave_eleventh_grade_math_score = round(eleventh_grade_students_group["math_score"].mean().rename_axis('school_name').reset_index(name='ave_eleventh_grade_math_score'), 2)
ave_HS_grade_math_score = pd.merge(ave_HS_grade_math_score, ave_eleventh_grade_math_score, on=["school_name"])

In [33]:
# locate the 12th graders in the student_data data frame, groupby school, then calculate the rounded average math score and name the columns, then merge with the math score data frame, then display the results
twelth_grade_students = student_data.loc[student_data["grade"] == "12th", :]
twelth_grade_students_group = twelth_grade_students.groupby(["school_name"])
ave_twelth_grade_math_score = round(twelth_grade_students_group["math_score"].mean().rename_axis('school_name').reset_index(name='ave_twelth_grade_math_score'), 2)
ave_HS_grade_math_score = pd.merge(ave_HS_grade_math_score, ave_twelth_grade_math_score, on=["school_name"])
ave_HS_grade_math_score.set_index("school_name")

,ave_ninth_grade_math_score,ave_tenth_grade_math_score,ave_eleventh_grade_math_score,ave_twelth_grade_math_score
school_name,,,,
Bailey High School,77.08,77.00,77.52,76.49
Cabrera High School,83.09,83.15,82.77,83.28
Figueroa High School,76.40,76.54,76.88,77.15
Ford High School,77.36,77.67,76.92,76.18
Griffin High School,82.04,84.23,83.84,83.36
Hernandez High School,77.44,77.34,77.14,77.19
Holden High School,83.79,83.43,85.00,82.86
Huang High School,77.03,75.91,76.45,77.23
Johnson High School,77.19,76.69,77.49,76.86
Pena High School,83.63,83.37,84.33,84.12
Rodriguez High School,76.86,76.61,76.40,77.69
Shelton High School,83.42,82.92,83.38,83.78
Thomas High School,83.59,83.09,83.50,83.50
Wilson High School,83.09,83.72,83.20,83.04
Wright High School,83.26,84.01,83.84,83.64

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [34]:
# locate the 9th graders in the student_data data frame, groupby school, then calculate the rounded average reading score and name the columns
ave_ninth_grade_reading_score = round(ninth_grade_students_group["reading_score"].mean().rename_axis('school_name').reset_index(name='ave_ninth_grade_reading_score'), 2)

In [35]:
# locate the 10th graders in the student_data data frame, groupby school, then calculate the rounded average reading score and name the columns, then merge with 9th grade results
ave_tenth_grade_reading_score = round(tenth_grade_students_group["reading_score"].mean().rename_axis('school_name').reset_index(name='ave_tenth_grade_reading_score'), 2)
ave_HS_grade_reading_score = pd.merge(ave_ninth_grade_reading_score, ave_tenth_grade_reading_score, on=["school_name"])

In [36]:
# locate the 11th graders in the student_data data frame, groupby school, then calculate the rounded average reading score and name the columns, then merge with reading score dataframe
ave_eleventh_grade_reading_score = round(eleventh_grade_students_group["reading_score"].mean().rename_axis('school_name').reset_index(name='ave_eleventh_grade_reading_score'), 2)
ave_HS_grade_reading_score = pd.merge(ave_HS_grade_reading_score, ave_eleventh_grade_reading_score, on=["school_name"])

In [37]:
# locate the 11th graders in the student_data data frame, groupby school, then calculate the rounded average reading score and name the columns, then merge with reading score dataframe, then display the results
ave_twelth_grade_reading_score = round(twelth_grade_students_group["reading_score"].mean().rename_axis('school_name').reset_index(name='ave_twelth_grade_reading_score'), 2)
ave_HS_grade_reading_score = pd.merge(ave_HS_grade_reading_score, ave_twelth_grade_reading_score, on=["school_name"])
ave_HS_grade_reading_score.set_index("school_name")

,ave_ninth_grade_reading_score,ave_tenth_grade_reading_score,ave_eleventh_grade_reading_score,ave_twelth_grade_reading_score
school_name,,,,
Bailey High School,81.30,80.91,80.95,80.91
Cabrera High School,83.68,84.25,83.79,84.29
Figueroa High School,81.20,81.41,80.64,81.38
Ford High School,80.63,81.26,80.40,80.66
Griffin High School,83.37,83.71,84.29,84.01
Hernandez High School,80.87,80.66,81.40,80.86
Holden High School,83.68,83.32,83.82,84.70
Huang High School,81.29,81.51,81.42,80.31
Johnson High School,81.26,80.77,80.62,81.23
Pena High School,83.81,83.61,84.34,84.59
Rodriguez High School,80.99,80.63,80.86,80.38
Shelton High School,84.12,83.44,84.37,82.78
Thomas High School,83.73,84.25,83.59,83.83
Wilson High School,83.94,84.02,83.76,84.32
Wright High School,83.83,83.81,84.16,84.07

## Scores by School Spending

# * Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [38]:
# setting up and labeling bins based on budget per student to see if $ spent has an impact on scoring results
bins = [575, 599, 624, 649, 675]
group_labels = ["575 to 599", "600 to 624", "625 to 649", "650 to 675"]

school_data_with_passing_counts["budget_per_student_group"] = pd.cut(
    school_data_with_passing_counts["per_student_budget"], bins, labels=group_labels)

In [39]:
# calculate the total students per budget classification, then merge into the school data dataframe
school_data_group = school_data_with_passing_counts.groupby("budget_per_student_group")
total_students_budget_group = school_data_group["total_students"].sum().rename_axis(
    'budget_per_student_group').reset_index(name='total_students_budget_group')
school_data_total_students_budget_group = pd.merge(
    school_data_with_passing_counts, total_students_budget_group, on=["budget_per_student_group"])

In [40]:
# calculate the individual school weight (based on number of students) for it's respective budget class
school_group_weight = school_data_total_students_budget_group['total_students'] / \
    school_data_total_students_budget_group['total_students_budget_group']
school_data_total_students_budget_group["school_group_weight"] = school_group_weight

In [41]:
# use the school weight to calculate a summable average math score weight per school
school_group_math_weight_calc = school_data_total_students_budget_group['average_math_score'] * \
    school_data_total_students_budget_group['school_group_weight']
school_data_total_students_budget_group["school_group_math_weight_calc"] = school_group_math_weight_calc

In [42]:
# perform a groupby function to get the data frame to sum up the average math score weights by budget class 
school_data_group = school_data_total_students_budget_group.groupby("budget_per_student_group")
ave_math_score_budget_group = round(
    school_data_group["school_group_math_weight_calc"].sum().rename_axis(
        'budget_per_student_group').reset_index(name='ave_math_score'), 2)

In [43]:
# use the school weight to calculate a summable average reading score weight per school
school_group_reading_weight_calc = school_data_total_students_budget_group['average_reading_score'] * \
    school_data_total_students_budget_group['school_group_weight']
school_data_total_students_budget_group["school_group_reading_weight_calc"] = school_group_reading_weight_calc

In [44]:
# perform a groupby function to get the data frame to sum up the average reading score weights by budget class 
# school_data_group = school_data_total_students_budget_group.groupby("budget_per_student_group")
ave_reading_score_budget_group = round(
    school_data_group["school_group_reading_weight_calc"].sum().rename_axis(
        'budget_per_student_group').reset_index(name='ave_reading_score'), 2)

In [45]:
# merge the average math score and reading score to create the Budget classification summary data frame
budget_group_scores_summary = pd.merge(
    ave_math_score_budget_group, ave_reading_score_budget_group, on=["budget_per_student_group"])

In [46]:
# merge total students per budget group into the data frame
budget_group_scores_summary = pd.merge(
    budget_group_scores_summary, total_students_budget_group, on=["budget_per_student_group"])

In [47]:
# use the groupby variable stored from before to sum up the the total passing math students per budget class, then merge
math_pass_budget_group = school_data_group["passing_math_student_count"].sum().rename_axis(
    'budget_per_student_group').reset_index(name='student_math_pass')
budget_group_scores_summary = pd.merge(budget_group_scores_summary, math_pass_budget_group, on=["budget_per_student_group"])

In [48]:
# use the groupby variable stored from before to sum up the the total passing reading students per budget class, then merge
reading_pass_budget_group = school_data_group["passing_reading_student_count"].sum().rename_axis(
    'budget_per_student_group').reset_index(name='student_reading_pass')
budget_group_scores_summary = pd.merge(budget_group_scores_summary, reading_pass_budget_group, on=["budget_per_student_group"])

In [49]:
# use the groupby variable stored from before to sum up the the total passing students per budget class, then merge
student_pass_budget_group = school_data_group["passing_student_count"].sum().rename_axis(
    'budget_per_student_group').reset_index(name='student_pass')
budget_group_scores_summary = pd.merge(budget_group_scores_summary, student_pass_budget_group, on=["budget_per_student_group"])

In [50]:
# calculate and format the percentage of students that passed the math test by budget class, then pass it into the df
pct_math_pass_budget_group = budget_group_scores_summary['student_math_pass'] / \
    budget_group_scores_summary['total_students_budget_group']
budget_group_scores_summary["pct_math_pass"] = (pct_math_pass_budget_group * 100).astype(float).map("{:,.2f}%".format)

In [51]:
# calculate and format the percentage of students that passed the reading test by budget class, then pass it into the df
pct_reading_pass_budget_group = budget_group_scores_summary['student_reading_pass'] / \
    budget_group_scores_summary['total_students_budget_group']
budget_group_scores_summary["pct_reading_pass"] = (pct_reading_pass_budget_group * 100).astype(float).map("{:,.2f}%".format)

In [52]:
# calculate and format the percentage of students that passed by budget class, then pass it into the df
pct_pass_budget_group = budget_group_scores_summary['student_pass'] / \
    budget_group_scores_summary['total_students_budget_group']
budget_group_scores_summary["pct_overall_pass"] = (pct_pass_budget_group * 100).astype(float).map("{:,.2f}%".format)

In [53]:
#reduce the school_data data frame to the columns specified in the .loc function
budget_group_scores_summary = budget_group_scores_summary.loc[:, ["budget_per_student_group", "ave_math_score",
                                                                    "ave_reading_score", "pct_math_pass",
                                                                    "pct_reading_pass", "pct_overall_pass"]]
budget_group_scores_summary.set_index("budget_per_student_group")

,ave_math_score,ave_reading_score,pct_math_pass,pct_reading_pass,pct_overall_pass
budget_per_student_group,,,,,
575 to 599,83.36,83.96,93.70%,96.69%,90.64%
600 to 624,83.53,83.84,94.12%,95.89%,90.12%
625 to 649,78.06,81.43,71.40%,83.61%,60.29%
650 to 675,77.05,81.01,66.23%,81.11%,53.53%

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type